.reserve{
    max-width: 1024px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 5%;
    left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer{
    background-color: white;
    padding: 20px;
    position: relative;
}

.rClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.rItem{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.rItemInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.rTitle{
    font-weight:bold;
}
.rDesc{
    font-size: 14px;
    font-weight:300;
}
.rMax{
    font-size: 12px;
}
.rPrice{
    font-size: 18px;
    font-weight: 500;
    color: rgb(1, 199, 1);
}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 5px;
}

.room{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.rbutton{
    border: none;
    padding: 10px 20px;
    background-color: #4d3a4d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}