.featured{
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 2px;
  overflow: hidden;
  height: 300px;
  width: 300px;
  cursor: pointer;
}


.featuredImg{
    
    width:100%;
    height: 100%;
    object-fit: cover;

}
.featuredImg:hover {
    -webkit-transform: scale(1.9);
	transform: scale(1.05);
    
    
}

.featuredTitles{
    position: absolute;
    bottom: -15px;
    left: 10px;
    
}

