.mail {
  width: 94.2%;
  
  margin-top: 50px;
  background-color: rgb(24, 71, 173);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  border-radius: 5px;
}
.mailInputContainer>input{
width: 300px;
height: 30px;
padding: 10px;
border: none;
margin-right: 10px;
}
.mailInputContainer>button{
  height: 50px;
  background-color: rgb(8, 49, 139);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}